In [2]:
key = '맛있는녀석들'

In [35]:
fd = pd.read_csv('../수요미식회_전체_지번주소.csv', sep = ';')
# fd

In [4]:
df = pd.read_csv(f'./{key}_전체_지번주소.csv', sep = ';')
df

                   name category                      address
0               칠백장장인국밥       국밥          부산 동래구 사직동 136-6복사우
1                 안성또순이       한식        서울 종로구 신문로2가 1-161복사우
2    박순례 손말이고기 산정집 광화문점    소고기구이    서울 종로구 당주동 3-2 선덕빌딩 2층복사우
3                   할매집    족발,보쌈            서울 종로구 내자동 108복사우
4                 따빠마드레    스페인음식  서울 종로구 신문로2가 1-251 따빠마드레복사우
..                  ...      ...                          ...
284            버섯잔치집 본점       한식                          NaN
285                 천안성      중식당                          NaN
286         코다리요리전문점 만찬  해물,생선요리                          NaN
287            강동해물찜해천탕  아귀찜,해물찜                          NaN
288                  까시     생선구이                          NaN

[289 rows x 3 columns]

In [5]:
df.address = df.address.str.replace('복사우', "")

In [ ]:
# # df.drop_duplicates(ignore_index=True, inplace=True)
# df.drop_duplicates(ignore_index=True, subset='name', inplace=True)
# df

In [319]:
fill = pd.merge(df[df.address.isnull()].name, fd, how = 'inner', on = 'name').drop_duplicates(ignore_index=True).dropna()
fill

Empty DataFrame
Columns: [name, category, address]
Index: []

In [318]:
df[df.category.isnull()]

        name category           address
262  호인족발 본점      NaN  서울 송파구 가락동 175-7

In [37]:
k = 0 
for _ in range(len(fill)):        
    idx = df[df.name == fill.name[k]].index[0]
    df.loc[idx, 'address'] = fill[fill.name == df.name[idx]].address.values[0]
    df.loc[idx, 'category'] = fill[fill.name == df.name[idx]].category.values[0]

    # display(df[df.name == fill.name[k]])
    k += 1

df.drop_duplicates(subset='name', inplace = True, ignore_index=True)

In [320]:
idx = df[df.category.isnull()].index
i = 0

In [314]:
i += 1
# df.loc[idx[i], :]

In [324]:
df[df.name == df.loc[idx[i], 'name']]

        name category           address
262  호인족발 본점    족발,보쌈  서울 송파구 가락동 175-7

In [323]:
df.loc[idx[i], 'address'] = '서울 송파구 가락동 175-7'
df.loc[idx[i], 'category'] = '족발,보쌈'

In [40]:
df.to_csv(f'./{key}_전체_지번주소_수정.csv', sep = ';', index= False)

In [ ]:
df = df.dropna()
# df.loc[len(df), :] = ['마카롱데이즈', '카페,디저트', '인천 중구 신포동 18-16']
# df.drop_duplicates(ignore_index=True, inplace = True)

In [ ]:
df