In [3]:
import datetime
import math
import os

import time
import pymysql
import numpy as np
import pandas as pd
from tqdm import tqdm

from sklearn.metrics.pairwise import cosine_similarity

from surprise import Reader, Dataset
from surprise import SVD
from surprise import accuracy

In [4]:
#필요한 것들 그때그때 추가해서 조금 양이 많은데, 필요한 부분만 추려서 사용하시면 됩니다...
class MysqlController:
    def __init__(self, host, port, id, pw, db_name):
        self.conn = pymysql.connect(host = host, port = port, user = id, password = pw, db=db_name, charset='utf8')
        self.curs = self.conn.cursor()
        
    def select_account_menu(self):
        sql = "select account_id, menu_id, rating from account_menu where type = 'RATE'"
        rows = self.curs.execute(sql, ())
        return self.curs.fetchall()
    
    def select_account_predict_count(self, account_id, menu_id):
        sql = 'select count(*) from account_predict where account_id = %s and menu_id = %s'
        rows = self.curs.execute(sql, (account_id, menu_id))
        return self.curs.fetchone()
    
    def insert_account_calc_commit(self, smenu_id, saccount_id, srating):
        sql = "SELECT COUNT(*) AS Count FROM mealgen.account_menu_calc2 WHERE menu_id=%s and account_id=%s"
        self.curs.execute(sql, (smenu_id, saccount_id ))
        rows = self.curs.fetchone()

        if rows[0] == 0:
            sql = "INSERT INTO mealgen.account_menu_calc2(menu_id,account_id,rating, type,created_at, restaurant_id) VALUES(%s, %s, %s, 1, now(),0 )"
            self.curs.execute(sql, (smenu_id, saccount_id, srating))
            self.conn.commit()
        else:
            sql = "update mealgen.account_menu_calc2 set rating=%s  WHERE menu_id=%s and account_id=%s"
            self.curs.execute(sql, (srating, smenu_id, saccount_id))
            self.conn.commit()
            
    def select_account_menu_df(self):
        sql = "select account_id, menu_id, restaurant_id, rating, created_at from account_menu where type = 'RATE'"
        df = pd.read_sql(sql, self.conn)
        return df
    
    def select_account_menu_name(self):
        sql = "select a.account_id, a.menu_id, a.restaurant_id, a.rating, b.name from account_menu a join restaurant b on a.restaurant_id = b.id where a.type = 'RATE'"
        df = pd.read_sql(sql, self.conn)
        return df
    
    def select_account_recomm_menu_df(self):
        sql = "select account_id, menu_id, rating from account_menu where type = 'RATE' and menu_id in (select id from menu where recomm_yn = 1)"
        df = pd.read_sql(sql, self.conn)
        return df
        
    def update_account_predict(self, array):
        sql = 'update account_predict set rating = %s where account_id = %s and menu_id = %s'
        self.curs.executemany(sql, (array))
        self.conn.commit()
        
    def select_active_user(self):
        sql = "select id from account where status = 'ACTIVE' and id in (select account_id from account_menu where type = 'RATE')"
        self.curs.execute(sql)
        return self.curs.fetchall()
    
    def select_menu(self):
        sql = 'select id from menu'
        df = pd.read_sql(sql, self.conn)
        return df
    def select_restaurant(self):
        sql = 'select id from restaurant'
        df = pd.read_sql(sql, self.conn)
        return df
    def select_calc2(self):
        sql = 'select account_id, menu_id, rating from account_menu_calc2 where menu_id'
        df = pd.read_sql(sql, self.conn)
        return df

    def select_account_compatibility(self):
        sql = 'select * from account_compatibility'
        df = pd.read_sql(sql, self.conn)
        return df

    
    def delete_old_compatibility(self):
        sql = 'delete from account_compatibility'
        self.curs.execute(sql)
        self.conn.commit()
        
    def select_user_info(self):
        sql = "select id, birth, gender from account where id in (select account_id from account_menu where type = 'RATE')"
        df = pd.read_sql(sql, self.conn)
        return df
    
    def select_unique_account_menu_id(self):
        sql_a = 'select distinct account_id from account_predict'
        sql_m = 'select distinct menu_id from account_predict'
        rows_a = self.curs.execute(sql_a, ())
        a_list = self.curs.fetchall()
        rows_m = self.curs.execute(sql_m, ())
        m_list = self.curs.fetchall()
        return a_list, m_list
    
    #궁합점수 업데이트
    def insert_account_compatibility(self, array):
        sql = 'insert into account_compatibility (account_id, target_id, expect_rate, update_yn) values (%s, %s, %s, %s)'
        self.curs.executemany(sql, (array))
        self.conn.commit()
        
    def insert_account_predict(self, array):
        sql = 'insert into account_predict(account_id, menu_id, restaurant_id, rating, update_yn) values (%s, %s, %s, %s, %s)'
        self.curs.executemany(sql, (array))
        self.conn.commit()
    

    def update_predict_yn(self):
        sql = 'update account_predict set update_yn = 0'
        self.curs.execute(sql)
        self.conn.commit()

    def update_compatibility_yn(self):
        sql = 'update account_compatibility set update_yn = 0'
        self.curs.execute(sql)
        self.conn.commit()

    #이전 예상평점 데이터 지우기
    def delete_old_predict(self):
        sql = 'delte from account_predict where update_yn = 0'
        self.curs.execute(sql)
        self.conn.commit()

    #이전 궁합점수 데이터 지우기
    def delete_old_compatibility(self):
        sql = 'delete from account_compatibility where update_yn = 0'
        self.curs.execute(sql)
        self.conn.commit()
        
    def select_account_id(self, account_id):
        sql = 'select a.account_id, b.name, a.rating from account_predict a join restaurant b on a.restaurant_id = b.id where account_id = %s'
        self.curs.execute(sql, (account_id))
        return self.curs.fetchall()

    def select_yi_res_name(self):
        sql = 'select id, name from restaurant where address like "%영등포구%" and sitetype like "N%"'
        self.curs.execute(sql)
        return self.curs.fetchall()
mysql_controller = MysqlController('mealgen-db-real-cluster.cluster-ch1v7vb7kdnw.ap-northeast-2.rds.amazonaws.com', 3306, 'mealgen', 'altlrdmltleo1!', 'mealgen')
# mysql_controller = MysqlController('127.0.0.1', 3306, 'root', 'altlrdmltleo!@', 'mealgen')
# mysql_controller = MysqlController('meagen-test-db.cluster-chqtzmhwf2r2.us-east-1.rds.amazonaws.com', 3306, 'mealgen', 'altlrdmltleo1!', 'mealgen_test') #테스트 서버

In [5]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [6]:
# # Active ID만 가져오기(Dummy ID는 업데이트할 필요 없음)
id_list = mysql_controller.select_active_user()
id_list = list(map(lambda x: x[0], id_list))
len(id_list)

19

In [10]:
mysql_controller.curs.close()

In [9]:
# 사용자 평가 데이터 가져오기
df = mysql_controller.select_account_menu_name()
df.head()
sql = "SELECT r.user_id"

In [10]:
#데이터가 많아질 경우, 메모리 에러가 발생할 수 있어 이에 맞는 메모리 타입으로 변경
def reduce_memory(df):
    for col in df.columns:
        if df[col].dtype == 'O':
            continue
        else:

            max_temp = max(df[col])
            min_temp = abs(min(df[col]))
            max_value = max(max_temp, min_temp)

            if max_value > 16777218:
                d_type = 'float64'
            elif max_value <= 16777218 and max_value > 2050:
                d_type = 'float32'
            else:
                d_type = 'float16'

            df[col] = df[col].astype(d_type)
    return df

In [11]:
df = reduce_memory(df)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   account_id     1095 non-null   float32
 1   menu_id        1095 non-null   float32
 2   restaurant_id  1095 non-null   float32
 3   rating         1095 non-null   float16
 4   name           1095 non-null   object
dtypes: float16(1), float32(3), object(1)
memory usage: 23.7+ KB

In [7]:
'''
#Naver 매장만 하고 싶을 때
naver_df = df[df['sitetype'].str.contains('N')]
naver_df.shape
naver_df['account_id'].nunique(), naver_df['menu_id'].nunique()
'''

"\n#Naver 매장만 하고 싶을 때\nnaver_df = df[df['sitetype'].str.contains('N')]\nnaver_df.shape\nnaver_df['account_id'].nunique(), naver_df['menu_id'].nunique()\n"

In [13]:
df.shape

(1095, 5)

In [14]:
df['account_id'].nunique(), df['menu_id'].nunique()

(19, 529)

In [15]:
# Menu-Restaurant(db에 insert해줄 때 restaurant_id도 필요)

menu_dict = dict(df[['menu_id', 'restaurant_id']].drop_duplicates().values)

## SVD

In [31]:
#점수 범위가 0.5부터 5
reader = Reader(rating_scale = (0.5, 5))
#사용자의 메뉴에 대한 평점이므로, df에서 필요한 부분만 가져와서 데이터셋으로 만들기
dataset = Dataset.load_from_df(df[['account_id', 'menu_id', 'rating']], reader)
#전체 데이터를 train set으로 활용
trainset = dataset.build_full_trainset()
start = time.time()
#SVD 알고리즘 적용
algo = SVD()
#train
algo.fit(trainset)

In [32]:
#dataset에서 testset만들어 prediction확인
predictions = algo.test(trainset.build_testset())

In [33]:
#rmse로 측정
accuracy.rmse(predictions)

RMSE: 0.7087

0.7087011556656004

### Baseline

In [ ]:
'''
reader = Reader(rating_scale = (0.5, 5))
dataset = Dataset.load_from_df(df[['account_id', 'menu_id', 'rating']], reader)
# trainset, testset = train_test_split(dataset, test_size = 0.25)

bsl_options = {'method' : 'als',
              'n_epochs' : 5,
              'reg_u' : 10,
              'reg_i' : 10}
'''

In [ ]:
algo = BaselineOnly(bsl_options = bsl_options)
trainset = dataset.build_full_trainset()
algo.fit(trainset)

In [ ]:
predictions = algo.test(trainset.build_testset())
accuracy.rmse(predictions)

## Update Account Predict

예상평점 업데이트 하는 작업.

SVD 알고리즘 적용하여 account_predict table에 업데이트

In [34]:
# update하기 위해 numpy형태로 변환
#return되는 형식: [account_id, menu_id]
def make_predict_list(df, uid):
    res_list = df['menu_id'].unique()
#     이 부분은 사용자가 평가한 메뉴는 예측에서 제외할 때(현재는 다 같이 포함해서 예측)
#     past_res_list = df[(df['account_id'] == int(uid))]['menu_id'].unique()
#     pred_res_list = list(set(res_list) - set(past_res_list))
    pred_res_list = np.c_[[uid] * len(res_list), res_list]
    return pred_res_list

In [35]:
def make_recommendation(algo, uid, pred_res_list):
    rate_list = []
    for i in pred_res_list:
        #위에서 만든 [account_id, menu_id]를 받아서 이에 대한 예상 점수 계산
        rate = algo.predict(i[0], i[1]).est
        rate_list.append(rate)
    rate_list = np.array(rate_list)
    pred_res_list = np.c_[pred_res_list, rate_list]
    # [account_id, menu_id, rate]를 df로 변환
    recomm_df = pd.DataFrame(pred_res_list, columns = ['account_id', 'menu_id', 'rating'])
    return recomm_df

In [84]:
# 위 두 함수 적용
start = time.time()
recomm_df = pd.DataFrame(columns = ['account_id', 'menu_id', 'rating'])
# for uid in tqdm(id_list):
for uid in tqdm(df['account_id'].unique()):
    pred_res_list = make_predict_list(df, uid)
    temp = make_recommendation(algo, uid, pred_res_list)
    recomm_df = pd.concat([recomm_df, temp]).reset_index(drop = True)
end = time.time()
print(end - start)

 14%|█▍        | 216/1525 [13:38<1:22:40,  3.79s/it]

KeyboardInterrupt:

In [ ]:
#account_id 3174에 대해 예상점수 높은 순으로 정렬
recomm_df[recomm_df['account_id'] == 3174].sort_values(['rating'], ascending = False)

In [ ]:
recomm_df[recomm_df['account_id'] == 3324].sort_values(['rating'], ascending = False)

In [89]:
#만들어뒀던 menu-restaurant dictionary를 dataframe에 추가
recomm_df['restaurant_id'] = recomm_df['menu_id'].apply(lambda x: menu_dict[x])
#db에서 기존에 있던 데이터와 구분하기 위해 column추가
recomm_df['update_yn'] = 1

In [90]:
recomm_df = reduce_memory(recomm_df)

In [91]:
# 순서 db와 맞게 변경
# recomm_df = recomm_df.reindex(columns = ['account_id', 'menu_id', 'restaurant_id', 'rating', 'update_yn'])
recomm_df = recomm_df.reindex(columns = ['account_id', 'menu_id', 'restaurant_id', 'rating'])

In [94]:
recomm_df['update_yn'] = 1

In [ ]:
#db 업데이트
chunksize = 10000
for i in tqdm(range(0, len(recomm_df), chunksize)):
    chunk = recomm_df[i:i+chunksize]
    mysql_controller.insert_account_predict(chunk.values.tolist())

## Update Account Compatibility

User간 궁합점수를 업데이트

User간 코사인 유사도를 통해 account_compatibility에 업데이트

In [ ]:
#user 성별
def gender(x):
    if x == 'M':
        x = -1
    elif x == 'F':
        x = 1
    else:
        x = 0
    return x

In [ ]:
# user 나이
def birth(x):
    if x == None:
        pass
    else:
        x = datetime.datetime.now().year -x.year
    return x

In [ ]:
# 코사인 유사도는 다른 두 차원의 범위가 일정해야하므로, minmax scaling으로 일정하게 변환
def minmax(x, user_df):
    if math.isnan(x):
        x = (user_df['birth'].mean() - user_df['birth'].min()) / (user_df['birth'].max() - user_df['birth'].min())
    else:
        x = (x - user_df['birth'].min()) / (user_df['birth'].max() - user_df['birth'].min())
    return x

In [ ]:
#user info 가져오기
user_df = mysql_controller.select_user_info()

In [ ]:
user_df['id'].nunique()

In [ ]:
df['account_id'].nunique()

In [ ]:
#user 성별과 나이를 통해 User간 코사인 유사도 계산
user_df['gender'] = user_df['gender'].apply(gender)
user_df['birth'] = user_df['birth'].apply(birth)
user_df['birth'] = user_df['birth'].apply(lambda x: minmax(x, user_df))
user_df = user_df.set_index('id')
user_info = pd.DataFrame(cosine_similarity(user_df), index = user_df.index, columns = user_df.index)

In [ ]:
user_info

In [ ]:
#User의 Menu 평가 데이터 가져오기
rated_df = df.pivot(columns = 'menu_id', index = 'account_id', values = 'rating')
del df

In [ ]:
#메모리 줄이기
rated_df = rated_df.astype('float16')
rated_df.info()

In [ ]:
#코사인 유사도 계산하기 위해 pivot table 형식으로 만드는데, User가 Menu에 대해 평가하지 않은 데이터는 0으로 채워넣기
rated_df = rated_df.fillna(0)
#평가하지 않은 데이터 처리와 User간 점수 분포 차이를 없애기 위해 Normalization
rated_df = (rated_df.T - rated_df.T.mean()).T
rated_df.head()
rated_df = rated_df.astype('float16')
#만들어진 pivot table로 User간 코사인 유사도 계산
cos_sim = pd.DataFrame(cosine_similarity(rated_df), index = rated_df.index, columns= rated_df.index)

In [ ]:
cos_sim = pd.DataFrame(cosine_similarity(rated_df), index = rated_df.index, columns= rated_df.index)

In [ ]:
cos_sim

In [ ]:
#User Info로 만들어진 코사인 유사도 행렬과 User의 메뉴 평점으로 만들어진 코사인 유사도를 가중합
cos_sim = (0.75 * cos_sim) + (0.25 * user_info)

In [ ]:
#db에 update하기 위해 형식 맞춰줌
compat_df = pd.DataFrame(cos_sim.loc[:, id_list].unstack())
del cos_sim
compat_df.index.names = ['account_id', 'target_id']
compat_df = compat_df.reset_index()
compat_df.columns = ['account_id', 'target_id', 'expect_rate']

In [ ]:
compat_df['update_yn'] = 1
#User간 궁합점수가 0% ~ 100%로 나오기 때문에 이에 맞게 변환
compat_df['expect_rate'] = compat_df['expect_rate'].apply(lambda x: ((x+1)/2)*100)
#메모리 줄이기
compat_df = reduce_memory(compat_df)

In [ ]:
compat_df.head()

In [ ]:
#db에 업데이트
chunksize = 10000
for i in tqdm(range(0, len(compat_df), chunksize)):
    chunk = compat_df[i:i + chunksize]
    mysql_controller.insert_account_compatibility(chunk.values.tolist())

In [ ]:
#db에 원래있던 데이터는 지우기
mysql_controller.delete_old_compatibility()

## Evaluation

### Before, After 비교

In [1]:
recomm_list = mysql_controller.select_account_id(3324)
recomm_list = pd.DataFrame(recomm_list, columns = ['account_id', 'restaurant', 'rating'])

song_recomm_list = mysql_controller.select_account_id(3347)
song_recomm_list = pd.DataFrame(song_recomm_list, columns = ['account_id', 'restaurant', 'rating'])

soon_recomm_list = mysql_controller.select_account_id(3403)
soon_recomm_list = pd.DataFrame(soon_recomm_list, columns = ['account_id', 'restaurant', 'rating'])

NameError: name 'mysql_controller' is not defined

### Account 3324

In [ ]:
#평가 반영 되기 전
recomm_list = recomm_list.groupby('restaurant').mean().sort_values('rating', ascending = False).reset_index()[['account_id', 'restaurant', 'rating']]
recomm_list[:10]

In [ ]:
#평가 반영된 후
new_recomm = recomm_df[recomm_df['account_id'] == 3324].groupby('name').mean().sort_values('rating', ascending = False).reset_index().drop('menu_id', axis = 1)[['account_id', 'name', 'rating']]
new_recomm.columns = ['account_id', 'restaurant', 'rating']
new_recomm[:10]

### Account 3347

In [ ]:
#평가 반영되기 전
song_recomm_list = song_recomm_list.groupby('restaurant').mean().reset_index()[['account_id', 'restaurant', 'rating']]
display(song_recomm_list.sort_values('rating', ascending = False)[:10])

In [ ]:
#평가 반영된 후
new_recomm_song = recomm_df[recomm_df['account_id'] == 3347].sort_values('rating', ascending = False).groupby('name').max().reset_index()[['account_id', 'name', 'rating']]
display(new_recomm_song.sort_values('rating', ascending = False)[:10])

### Account 3403

In [ ]:
#평가 반영되기 전
soon_recomm_list = soon_recomm_list.groupby('restaurant').mean().reset_index()[['account_id', 'restaurant', 'rating']]
display(soon_recomm_list.sort_values('rating', ascending = False)[:10])

In [ ]:
#평가 반영된 후
new_recomm_soon = recomm_df[recomm_df['account_id'] == 3403].sort_values('rating', ascending = False).groupby('name').max().reset_index()[['account_id', 'name', 'rating']]
display(new_recomm_soon.sort_values('rating', ascending = False)[:10])

### mAP@k

mAP@k라는 지표로 추천이 얼마나 유의미하게 작용했는지 확인

In [ ]:
#사내 테스트를 위해 영등포구 식당들만으로 진행
restaurant_df = pd.DataFrame(mysql_controller.select_yi_res_name(), columns = ['restaurant_id', 'restaurant_name'])

In [ ]:
#recomm_df에서 영등포구 식당만 가져오기
yi_df = pd.merge(recomm_df, restaurant_df, how = 'inner')
yi_df

In [ ]:
yi_df['restaurant_name'].nunique()

In [ ]:
def make_recomm_list(df, id):
    #svd로 추천된 식당들과, 랜덤으로 추천된 식당들 리스트
    svd = df[df['account_id'] == id].sort_values(['rating'], ascending = False).drop_duplicates('restaurant_name')[:20].reset_index(drop = True)
    rand = df[df['account_id'] == id].sample(frac = 1).drop_duplicates('restaurant_name')[:20].reset_index(drop = True)
    #식당 이름만 가져와서 csv로 변환
    recomm_df = pd.merge(svd.reset_index(), rand.reset_index(), left_on = 'index', right_on = 'index')[['restaurant_name_x', 'restaurant_name_y']]
    recomm_df.to_csv(str(id) + '.csv')
    return recomm_df

In [ ]:
recomm_3229 = make_recomm_list(yi_df, 3229)
recomm_3229

In [ ]:
def change(x):
    if type(x) == str:
        if x.upper() == 'O':
            return 1
        elif x.upper() == 'X':
            return 0
    else:
        return 0

In [ ]:
#mAP 계산
def cal_map_k(df, col = 'svd_eval', k = 5):
    prec_arr = []
    for i in range(1, k+1):
        #선호하는 메뉴 개수
        cnt = df[col][:i].sum()
        #총 k개의 precision 계산
        precision = cnt / i
        prec_arr.append(precision)
    prec_arr = np.array(prec_arr)
    #map 계산
    map_k = prec_arr.mean()
    return map_k

In [ ]:
def get_map(file):
    #파일 가져오기
    eval_df = pd.read_excel(file, header = 4, index_col = 0)
    eval_df = eval_df.drop(["Unnamed: 2", "Unnamed: 4", "Unnamed: 5", "Unnamed: 6", "Unnamed: 8"], axis = 1)
    eval_df.columns = ['svd_list', 'svd_eval', 'rand_list', 'rand_eval']
    
    #O,X 1, 0으로 변환
    eval_df['svd_eval'] = eval_df['svd_eval'].apply(change)
    eval_df['rand_eval'] = eval_df['rand_eval'].apply(change)
    
    map_lst = []
    for i in range(5, 21, 5):
        temp = [cal_map_k(eval_df, col = 'svd_eval', k= i), cal_mAP(eval_df, col = 'rand_eval', k= i)]
        map_lst.append(temp)
    return pd.DataFrame(map_lst, columns = ['svd', 'random'], index = [5, 10, 15, 20])

In [ ]:
print('Account ID : 3432')
map_3432 = get_map('/Users/jayyoon/Downloads/추천리스트_이혜원.xlsx')
display(map_3432)

In [ ]:
print('Account ID : 3403')
map_3403 = get_map('/Users/jayyoon/Downloads/추천리스트_김순빈.xlsx')
display(map_3403)

In [ ]:
print('Account ID : 3229')
map_3229 = get_map('/Users/jayyoon/Downloads/추천리스트_고현.xlsx')
display(map_3229)

In [ ]:
print('Account ID : 3259')
map_3259 = get_map('/Users/jayyoon/Downloads/추천리스트_비교.xlsx')
display(map_3259)

In [ ]:
print('User 평균 mAP')
(map_3432 + map_3403 + map_3229 + map_3259)/4

In [29]:
recomm_df

          account_id    menu_id  restaurant_id  rating
0            3174.00       5.00           6.00    3.27
1            3174.00       6.00           6.00    3.24
2            3174.00       8.00           6.00    3.23
3            3174.00      18.00           6.00    3.36
4            3174.00      23.00           6.00    3.30
...              ...        ...            ...     ...
12286059     3446.00 1785930.00       31928.00    4.86
12286060     3446.00 1789529.00       15483.00    4.89
12286061     3446.00 1816257.00       14787.00    4.82
12286062     3446.00 1845724.00       14919.00    4.86
12286063     3446.00 1845738.00       15067.00    5.00

[12286064 rows x 4 columns]

In [33]:
recomm_df.values[0].to_json()

AttributeError: 'numpy.ndarray' object has no attribute 'to_json'

In [28]:
recomm_df.values[:10]

array([[3.1740000e+03, 5.0000000e+00, 6.0000000e+00, 3.2636719e+00],
       [3.1740000e+03, 6.0000000e+00, 6.0000000e+00, 3.1289062e+00],
       [3.1740000e+03, 8.0000000e+00, 6.0000000e+00, 3.3691406e+00],
       [3.1740000e+03, 1.8000000e+01, 6.0000000e+00, 3.5878906e+00],
       [3.1740000e+03, 2.3000000e+01, 6.0000000e+00, 3.1484375e+00],
       [3.1740000e+03, 6.2000000e+01, 6.0000000e+00, 3.2988281e+00],
       [3.1740000e+03, 1.0100000e+02, 7.0000000e+00, 3.3847656e+00],
       [3.1740000e+03, 1.0200000e+02, 7.0000000e+00, 3.1132812e+00],
       [3.1740000e+03, 1.0300000e+02, 7.0000000e+00, 3.0976562e+00],
       [3.1740000e+03, 1.0400000e+02, 7.0000000e+00, 3.1757812e+00]],
      dtype=float32)

In [29]:
recomm_df[:10]

   account_id  menu_id  restaurant_id  rating
0     3174.00     5.00           6.00    3.26
1     3174.00     6.00           6.00    3.13
2     3174.00     8.00           6.00    3.37
3     3174.00    18.00           6.00    3.59
4     3174.00    23.00           6.00    3.15
5     3174.00    62.00           6.00    3.30
6     3174.00   101.00           7.00    3.38
7     3174.00   102.00           7.00    3.11
8     3174.00   103.00           7.00    3.10
9     3174.00   104.00           7.00    3.18

In [52]:
import json

In [40]:
recomm_df.values[0].tolist()

[3174.0, 5.0, 6.0, 3.263671875]

In [98]:
recomm_json = []
for i in tqdm(recomm_df.values):
    i = i.tolist()
    temp = {}
    temp['account_id'] = i[0]
    temp['menu_id'] = i[1]
    temp['restaurant_id'] = i[2]
    temp['rating'] = i[3]
#     temp = json.dumps(temp)
    recomm_json.append(temp)

100%|██████████| 47389104/47389104 [01:10<00:00, 667914.85it/s]

In [61]:
type(json.loads(recomm_df.iloc[0].to_json()))

dict

In [46]:
recomm_json = []
for i in tqdm(range(len(recomm_df))):
    json_temp = json.loads(recomm_df.iloc[i].to_json())
    recomm_json.append(json_temp)

100%|██████████| 12286064/12286064 [19:04<00:00, 10733.52it/s]

In [32]:
len(recomm_json)

12286064

In [64]:
from pymongo import MongoClient
client = MongoClient('mongodb://mealgen:altlrdmltleo1!@127.0.0.1:27017')

In [65]:
db = client.get_database('mealgen')

In [66]:
db.collection_names()

<ipython-input-66-8ff4d2505e25>:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  db.collection_names()

['account_predict']

In [67]:
db.account_predict.delete_many({})

In [57]:
start = time.time()
db.account_predict.insert_many(recomm_json)
end = time.time()
print(end-start)

381.26667499542236

In [56]:
db.account_predict.find({})

In [68]:
start = time.time()
#db 업데이트
chunksize = 1000
for i in tqdm(range(0, len(recomm_json), chunksize)):
    chunk = recomm_json[i:i+chunksize]
    db.account_predict.insert_many(chunk, ordered = False)
end = time.time()

100%|██████████| 12287/12287 [03:31<00:00, 58.05it/s]

In [ ]:
print(end - start)

In [61]:
cnt = 0
for result in db.account_predict.find():
    print(result)
    cnt += 1
    if cnt == 10: break

{'_id': ObjectId('5fd71d659100f70e4656a606'), 'account_id': 3174.0, 'menu_id': 5.0, 'rating': 3.2378484692}
{'_id': ObjectId('5fd71d659100f70e4656a607'), 'account_id': 3174.0, 'menu_id': 6.0, 'rating': 3.3161118299}
{'_id': ObjectId('5fd71d659100f70e4656a608'), 'account_id': 3174.0, 'menu_id': 8.0, 'rating': 3.3280589381}
{'_id': ObjectId('5fd71d659100f70e4656a609'), 'account_id': 3174.0, 'menu_id': 18.0, 'rating': 3.291433089}
{'_id': ObjectId('5fd71d659100f70e4656a60a'), 'account_id': 3174.0, 'menu_id': 23.0, 'rating': 3.3841310226}
{'_id': ObjectId('5fd71d659100f70e4656a60b'), 'account_id': 3174.0, 'menu_id': 62.0, 'rating': 3.3206929522}
{'_id': ObjectId('5fd71d659100f70e4656a60c'), 'account_id': 3174.0, 'menu_id': 101.0, 'rating': 3.3207973604}
{'_id': ObjectId('5fd71d659100f70e4656a60d'), 'account_id': 3174.0, 'menu_id': 102.0, 'rating': 3.3936333572}
{'_id': ObjectId('5fd71d659100f70e4656a60e'), 'account_id': 3174.0, 'menu_id': 103.0, 'rating': 3.3372858281}
{'_id': ObjectId('5fd71d659100f70e4656a60f'), 'account_id': 3174.0, 'menu_id': 104.0, 'rating': 2.8897420902}

In [8]:
client = MongoClient("mongodb+srv://mealgen:altlrdmltleo1!@mealgen.l2svi.mongodb.net/test?retryWrites=true&w=majority")
db = client.get_database('test')

In [9]:
db.collection_names()

<ipython-input-9-8ff4d2505e25>:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  db.collection_names()

['account_predict', 'test_collection']

In [16]:
start = time.time()
#db 업데이트
chunksize = 1000000
for i in tqdm(range(0, len(recomm_json), chunksize)):
    chunk = recomm_json[i:i+chunksize]
    db.account_predict.insert_many(chunk)
end = time.time()

 38%|███▊      | 5/13 [11:35<18:32, 139.01s/it]

OperationFailure: you are over your space quota, using 515 MB of 512 MB, full error: {'ok': 0, 'errmsg': 'you are over your space quota, using 515 MB of 512 MB', 'code': 8000, 'codeName': 'AtlasError'}

In [60]:
recomm_json[0]

{'account_id': 3174.0,
 'menu_id': 5.0,
 'restaurant_id': 6.0,
 'rating': 3.263671875,
 '_id': ObjectId('5fd8039d5f9cef36fb60d1b4')}

In [64]:
recomm_json = np.array(recomm_json)

In [66]:
np.save('recomm_json', recomm_json)

In [4]:
recomm_json = np.load('recomm_json.npy', allow_pickle = True)

In [5]:
recomm_json = recomm_json.tolist()

In [42]:
recomm_np = np.array(recomm_json)

In [44]:
recomm_np.size * recomm_np.itemsize

98288512

In [61]:
recomm_df.values[0]

array([3.17400000e+03, 5.00000000e+00, 6.00000000e+00, 3.25976562e+00,
       1.00000000e+00])

In [62]:
db.account_predict.update(
    {
        'account_id' : recomm_df.values[0][0],
        'menu_id' : recomm_df.values[0][1],
        'restaurant_id' : recomm_df.values[0][2],
    },
    {
        'rating' : recomm_df.values[0][3]
    },
    upsert = True
)

<ipython-input-62-6934af329c7b>:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  db.account_predict.update(

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [63]:
for row in tqdm(recomm_df.values):
    db.account_predict.update(
    {
        'account_id' : row[0],
        'menu_id' : row[1],
        'restaurant_id' : row[2],
    },
    {
        'rating' : row[3]
    },
    upsert = True
)

  0%|          | 0/12286064 [00:00<?, ?it/s]<ipython-input-63-0d3129294562>:2: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  db.account_predict.update(
  0%|          | 20112/12286064 [02:58<30:16:57, 112.51it/s]

KeyboardInterrupt:

In [101]:
import pandas as pd
df = pd.read_csv('/Users/jayyoon/Downloads/restaurants_rank.csv')

In [102]:
df

,title,description,address,lat,lng,telno,cookingtype,distinction,imgs
0,마포 양지 설렁탕,\n1974년에 문을 연 마포구의 터줏대감 ‘마포 양지 설렁탕’이 더 쾌적하고 넓은...,"마포구 새창로 6, Seoul, 대한민국",37.54,126.95,02-716-8616,Seolleongtang,plate,['https://axwwgrkdco.cloudimg.io/v7/mtp-cf-ima...
1,어메이징 타이,\n이태원로 대로변 건물 3층에 위치한 ‘어메이징 타이’는 태국인 오너와 태국 출신...,"용산구 이태원로 238, 3층, Seoul, 대한민국",37.54,127.00,02-796-7377,Thai,bib,['https://axwwgrkdco.cloudimg.io/v7/mtp-cf-ima...
2,합정옥,\n합정옥의 시작은 시아버지께서 손수 끓여 드시던 곰탕과 수육 맛에서 비롯됐다. 시...,"마포구 양화로 1길 21, 2층, Seoul, 대한민국",37.55,126.91,02-322-4822,Gomtang,bib,['https://axwwgrkdco.cloudimg.io/v7/mtp-cf-ima...
3,태번 38,\n서초동의 조용한 주택가에 강렬한 코발트블루 컬러 외관으로 눈길을 끄는 태번 38...,"서초구 명달로 22길 12-12, Seoul, 대한민국",37.49,127.00,02-522-3738,French,plate,['https://axwwgrkdco.cloudimg.io/v7/mtp-cf-ima...
4,볼피노,\n쿠촐로와 마렘마에 이은 김지운 셰프의 세 번째 이탤리언 레스토랑 볼피노. 이곳에...,"강남구 도산대로 45길 10-7, Seoul, 대한민국",37.52,127.04,010-2249-1571,Italian,plate,['https://axwwgrkdco.cloudimg.io/v7/mtp-cf-ima...
...,...,...,...,...,...,...,...,...,...
173,평양면옥,\n장충동에서 3대째 평양냉면의 전통을 이어오고 있는 평양면옥은 서울의 유서 깊은 ...,"중구 장충단로 207, Seoul, 대한민국",37.56,127.01,02-2267-7784,Naengmyeon,plate,['https://axwwgrkdco.cloudimg.io/v7/mtp-cf-ima...
174,주옥,\n구슬과 옥 같은 귀한 요리를 선보이고자 하는 신창호 셰프의 마음이 담긴 '주옥'...,"중구 소공로 119, 더 플라자호텔 3층, Seoul, 대한민국",37.55,126.98,02-518-9393,Korean,1 star,['https://axwwgrkdco.cloudimg.io/v7/mtp-cf-ima...
175,밍글스,\n‘밍글스’가 새로운 곳에 둥지를 틀었다. 따뜻한 여백의 미가 돋보이는 실내 디자...,"강남구 도산대로 67길 19, 2층, Seoul, 대한민국",37.53,127.04,02-515-7306,Contemporary,2 star,['https://axwwgrkdco.cloudimg.io/v7/mtp-cf-ima...
176,볼트 스테이크하우스,\n400여 종의 위스키를 보유하고 있는 볼트+82 건물 2층에 자리하고 있는 볼트...,"강남구 압구정로 72길 22, 2층, Seoul, 대한민국",37.52,127.04,02-544-9235,Steakhouse,plate,['https://axwwgrkdco.cloudimg.io/v7/mtp-cf-ima...
177,랑빠스 81,\n연트럴파크의 한적한 골목길에 위치한 랑빠스 81은 2015년에 오픈한 프렌치 다...,"마포구 동교로 30길 17-1, Seoul, 대한민국",37.56,126.93,070-7779-8181,French,plate,['https://axwwgrkdco.cloudimg.io/v7/mtp-cf-ima...